body {
	font-family: "Circular", sans-serif;

	font-weight: 400;
	font-size: 20px;
	line-height: normal;
	background: #222323;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;

	flex-grow: 1;
}

.app {
	min-height: 100vh;
}